.header {
    height: auto;
    position: relative;
    padding-top: $sticky-nav-height + 50;

    @media screen and (max-width: $breakpoint-600) {
        padding-top: 100px;
    }

    //breadcrumb text
    .header__breadcrumb {
        width: 93%;
        margin: 20px auto;
        font-size: 1.1em;

        @media screen and (max-width: $breakpoint-750) {
            font-size: 1em;
        }
    }

    .header__breadcrumb-text > a {
        color: $accent;
        transition: all .1s;

        &:hover {
            color: $red-accent;
        }
    }

    //sticky nav styles

    .header__sticky-nav {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: $main-max-width;
        opacity: 1;
        z-index: 1000;
    }

    .header__sticky-nav-content {
        height: $sticky-nav-height;
        position: fixed;
        top: $phone-bar-height;
        max-width: $main-max-width;
        background: $main-background-color;
        width: 100%;
        transition: top .4s;
        padding: 10px 40px;
        @include flex-row(nowrap, space-between, center);
        box-shadow: 0 4px 12px -4px rgba(0,0,0,.40);

        @media screen and (max-width: $breakpoint-850) {
            top: 2px;
        }
    }

    .header__sticky-nav-content.pushed {
        top: 2px;
    }

    .header__sticky-nav-icon {
        width: 140px;
        min-width: 100px;
        height: auto;

        @media screen and (max-width: $breakpoint-850) {
            width: 120px
        }
    }

    .header__sticky-nav-icon-image {
        width: 100%;
    }

    .header__sticky-nav-list {
        @include flex-row(nowrap, center, center);
        font-family: Roboto-Regular;
        min-width: 655px;
        transition: all .5s;

        @media screen and (max-width: $breakpoint-850) {
            position: absolute;
            top: 100%;
            width: 100%;
            background: white;
            left: 0px;
            height: 175px;
            border-bottom: 7px solid $accent;
            padding: 25px 35px;
            flex-flow: column wrap;
            min-width: 0;
            overflow: hidden;
            background: transparentize($footer-color, .02);
            font-size: 1.1em;
        }

        @media screen and (max-width: $breakpoint-500) {
            height: auto;
        }
    }

    .top-menu-collapsed {
        @media screen and (max-width: $breakpoint-850) {
            left: -150%;
        }
    }

    .header__sticky-nav-list--mobile-button {
        display: none;
        transition: $standard-transition;

        @media screen and (max-width: $breakpoint-850) {
            display: block;
            font-size: 1.7em;
            cursor: pointer;

            &:hover {
                color: $accent;
            }
        }
    }

    .header__sticky-nav-list-item:not(.search) {
        margin-left: 10px;
        font-weight: 500;
        transition: background-color .3s, color .3s;

        @media screen and (max-width: $breakpoint-850) {
            margin: 0;
        }

        &:hover {
            background-color: $accent;
            color: white;

            @media screen and (max-width: $breakpoint-850) {
                background: transparent;
            }
        }
    }

    .header__sticky-nav-list-item.search {
        margin-left: 30px;
        cursor: pointer;
        transition: color .3s;

        @media screen and (max-width: $breakpoint-500) {
            margin: 0;
        }

        &:hover {
            color: $accent;
        }
    }

    .header__sticky-nav-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
        padding: 15px;
    }

    .fa-search {
        font-size: 1.2em;
    }

    //phone bar styles

    .header__phone-bar {
        height: $phone-bar-height;
        background: $header-background-1;
        padding: 5px 40px;
        @include flex-row(nowrap, space-between, center);
    }

    .header__phone-bar-text {
        color: white;

        @media screen and (max-width: $breakpoint-850) {
            color: $header-background-1;
        }
    }

    .fa-phone {
        margin-right: 10px;
        color: lighten($header-background-1, 20%);
        font-size: 1.2em;
    }

    //social bar styles
    .header__social-bar {
        @include flex-row(nowrap, center, center);
        color: white;
    }

    .social-icon {
        margin-left: 20px;
        font-size: 1.2em;
        cursor: pointer;
        transition: color .2s;

        &:hover {
            color: $accent;
        }
    }

    .header__phone-bar-text,
    .header__social-bar {
        opacity: .9;
        font-size: .95em;
    }

    //main header content styles

    .header__content {
        background-image: url("../images/banner-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 500px;
        @include flex-column(nowrap, center, center);
        width: 93%;
        margin: 0 auto;
    }

    .header__title {
        font-family: Roboto-Bold;
        font-size: 2.5em;
        color: white;
        letter-spacing: 1px;
        text-align: center;

        @media screen and (max-width: $breakpoint-750) {
            font-size: 2.2em;
            padding: 0 25px;
        }
    }

    .header__divider {
        width: 20%;
        margin: 25px auto;
        background-color: $accent;
        height: 5px;
    }

    .header__subtitle {
        width: 45%;
        color: $header-color;
        text-align: center;
        font-size: 1.1em;
        opacity: .8;
        font-family: Roboto-Regular;

        @media screen and (max-width: $breakpoint-750) {
            font-size: 1em;
            width: 70%;
        }
    }
}

