.main-container {
    overflow: auto;
    background: white;
    padding: 50px 3.5%;
}


//main content styles
.main-content {
    width: 71%;
    float: left;
}

.main-content__intro-text {
    padding: 15px 30px;
    background: transparentize($accent, .7);
    font-size: 1.1em;
    margin: 0 0 30px;
    line-height: $standard-line-height;

    p {
        opacity: .9;
    }
}

.section-content__standard-text {
    margin: 30px 0;
    line-height: $standard-line-height;
    font-family: Roboto-Light;
    font-weight: 900;
    font-size: 1.05em;
}

//section styles
.section-header {
    width: 80%;
    font-size: 1.8em;
    color: $accent;
    text-align: center;
    margin: 50px auto;
    position: relative;

    &::after {
        content: "";
        width: 150px;
        height: 5px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background: $accent;
        opacity: .5;
    }
}

.section-anchor-target {
    position: absolute;
    top: -100px;
    left: 0;
}


//sidebar styles
.main-sidebar {
    float: right;
    width: 25%;
}

.main-sidebar__section-heading {
    margin: 0 0 10px;
    color: black;
    font-size: 1.2em;
    font-family: Roboto-Bold;
}

.sidebar-section {
    margin-bottom: 35px;
}


//adjust font size
.main-sidebar__text-size-adjust {
    @include flex-column(nowrap, center, center);
    position: relative;

    .main-sidebar__text-size-adjust-button {
        background: $gray-accent;
        border: none;
        margin: 10px;
        color: $accent;
        font-size: 2.3em;
        width: 80px;
        height: 80px;
        border-radius: $standard-border-radius;
        font-family: Roboto-Bold;
        cursor: pointer;
        transition: $standard-transition;

        &:hover {
            background: darken($gray-accent, 15%);
        }

        &.button-disabled {
            background: darken($gray-accent, 15%);
            // pointer-events: none;
            cursor: auto;
        }
    }
}

.max-large-alert,
.max-small-alert {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 200px;
    background: $accent;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: $standard-border-radius;
    z-index: -10;
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
    // transition: $standard-transition;
    transition: z-index 0.5s step-end, opacity .2s ease, transform .3s ease;
}

.text-larger.button-disabled:hover + .max-large-alert,
.text-smaller.button-disabled:hover + .max-small-alert  {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
    z-index: 100;
    // transition: $standard-transition;
    transition: z-index 0.5s step-start, opacity .2s ease, transform .3s ease;
}

//in this article
.main-sidebar__in-this-article {
    border: $standard-border;
    transition: top .6s, position 0s .8s;
    top: 0;
    position: relative;
}

.main-sidebar__in-this-article.sticky {
    position: fixed;
    top: 110px;
    width: 250px;
    transition: top .6s;
}

.main-sidebar__in-this-article-list {
    width: 100%;
    @include flex-column(nowrap, center, center);
}

.main-sidebar__in-this-article-item {
    width: 100%;
    height: auto;
    text-align: center;

    &:first-child {
        padding: 20px;
    }

    a {
        padding: 20px 20px;
        display: block;
        width: 100%;
        height: 100%;
        background: white;
        color: $red-accent;
        transition: $standard-transition;
    }

    a:hover {
        background: lightgray;
    }
}

.main-sidebar__in-this-article-item.article-selected {
    a {
        background: lightgray;
    }
}

.in-this-article-header {
    background: black;
    color: white;
}


//social icons

.main-sidebar__social-share {
    @include flex-column(nowrap, center, center);
}

.main-sidebar__social-share-list {
    @include flex-row(wrap, center, center);
}

.main-sidebar__social-share-icons {
    width: 46%;
    min-width: 115px;
    margin: 4px;
    padding: 12px;
    border: $standard-border;
    border-radius: $standard-border-radius;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: .9em;

    .fa {
        margin-right: 6px;
        font-size: 1.4em;
        text-shadow: 0 2px rgba(0, 0, 0, 0.55);
    }
}

.facebook-button {
    background: $facebook-color;
    transition: $standard-transition;
    &:hover {
        background: darken($facebook-color, 10%);
    }
}

.google-button {
    background: $google-color;
    transition: $standard-transition;
    &:hover {
        background: darken($google-color, 10%);
    }
}

.twitter-button {
    background: $twitter-color;
    transition: $standard-transition;
    &:hover {
        background: darken($twitter-color, 10%);
    }
}

.linkedin-button {
    background: $linkedin-color;
    transition: $standard-transition;
    &:hover {
        background: darken($linkedin-color, 10%);
    }
}

//footnotes
.footnote-divider {
    margin: 40px 0;
}

.main-content__footnotes-list {
    list-style: disc;
    margin-left: 2%
}

.main-content__footnote {
    font-size: .85em;
    margin-bottom: 15px;
    color: $red-accent;
    padding-left: 15px;
}
