.section-content__fact-list {
    margin-left: 25px;

    @media screen and (max-width: $breakpoint-950) {
        padding: 0 10px;
    }

    @media screen and (max-width: $breakpoint-750) {
        margin-left: 15px;
    }

    .section-content__standard-text {
        margin-top: 0;
    }
}

.section-content__fact-list-item {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
}

.section-content__fact-list-item:last-of-type + .section-content__fact-list-description .section-content__standard-text {
    margin-bottom: 0
}

.section-content__fact-list-description {
    padding-left: 20px;
    margin-bottom: 30px;
}

.section-content__text-image-box.section-03 {
    margin-top: 0;

    .section-content__text-image-box-text-column {
        width: calc(100% - 275px);

        @media screen and (max-width: $breakpoint-750) {
            width: 100%;
            float: none;
        }
    }

    .section-content__text-image-box-image {
        width: 250px;
        margin: 0 0 0 25px;

        @media screen and (max-width: $breakpoint-750) {
            width: 60%;
            min-width: 250px;
            max-width: 300px;
            float: none;
            display: block;
            margin: 15px auto;
        }
    }
}


.section-content__text-image-box.image-left {

    .section-content__text-image-box-image {
        float: left;
        width: 270px;
        margin: 0 25px 0 0;

        @media screen and (max-width: $breakpoint-750) {
            width: 60%;
            min-width: 250px;
            max-width: 300px;
            float: none;
            display: block;
            margin: 0 auto 15px;
        }
    }
    .section-content__text-image-box-text-column {
        float: right;
        width: calc(100% - 295px);

        @media screen and (max-width: $breakpoint-750) {
            width: 100%;
            float: none;
        }
    }
}
